<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ubicompforall.BusTUC"
    android:versionCode="7"
    android:versionName="1.1.0" >

  <uses-sdk
      android:minSdkVersion="8"
      android:targetSdkVersion="8" />
 
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

 <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:name=".Main.Homescreen" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.BusTUCApp" />
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name=".Main.RealTimeList" />
        <activity android:name=".Main.RealTimeListFromMenu" />
        <activity android:name=".Favourites.Favourite_Act" />
        <activity android:name=".Main.Answer" />
        <activity android:name=".Main.History" />
        <activity android:name=".Main.About" />
        <activity android:name=".Main.Settings" />
        <activity android:name=".Main.OtherBusstop" />
        <activity android:name=".Speech.SpeechAnswer" >
        </activity>

        <receiver android:name=".Main.SMSReceiver" >
            <intent-filter >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- The following three lines are required to used iSpeech's Android SDK. -->
        <activity
            android:name="org.ispeech.iSpeechFramework"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="ispeech_api_key"
            android:value="3a53fd86f0f4453ba0fee3f5b77dea55" />
        <meta-data
            android:name="debug"
            android:value="false" />

        <receiver android:name=".Main.Widget" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.ubicompforall.BusTUC.Main.Widget.ACTION_WIDGET_RECEIVER" />
                
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

        <activity
            android:excludeFromRecents="true"
            android:name=".Main.WidgetClick"
            android:noHistory="true"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter >
                
                <action android:name="org.ubicompforall.BusTUC.Main.Widget.ACTION_WIDGET_CONFIGURE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.ubicompforall.BusTUC.Main.Widget.ACTION_WIDGET_RECEIVER" />
            </intent-filter>

            <!-- <service android:enabled="true" android:name=".Main.MyService" /> -->

        </activity>
        <!-- <service android:enabled="true" android:name=".Main.MyService" /> -->

	</application>
</manifest>