<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="test.BusTUC"
      android:versionCode="1"
      android:versionName="1.0.0">
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">
 
    <uses-library android:name="com.google.android.maps" />  
 		 <activity android:name=".Main.Homescreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />               
            </intent-filter>
        </activity>
        <activity android:name=".Main.BusTUCApp"/>
        <activity android:name=".Main.RealTimeList" android:configChanges="keyboardHidden|orientation"/>  
        <activity android:name =".Main.RealTimeListFromMenu"/>
        <activity android:name=".Favourites.Favourite_Act"/>
		<activity android:name=".Main.Answer" />
		<activity android:name=".Main.History"/>
		<activity android:name=".Main.About"/>
    </application>
 
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
